@model IEnumerable<Store.DomainModel.DTOs.ProductDetailsDto>

<h2>Top discount</h2>
<div class="row">
    @foreach (var product in Model)
    {
        
        <div class="col-xs-6 col-sm-4 col-md-3">
            <div class="param_block">
                @if (@product.GetDiscountInfoFull != "")
                {
                    <div class="discount">
                        <div class="discount_value">
                            <em>@product.GetDiscountInfoShort</em>
                        </div>
                        <img src="~/Content/images/discount.svg" width=64
                             title="@product.GetDiscountInfoFull"
                             alt="@product.GetDiscountInfoFull"/>
                    </div>
                }
                <a href="" class="thumbnail">
                    <img src="@product.ProductImageSmallUrl" alt="@product.ProductName"/>
                </a>
                <h3 class="name_product_in_list"><a href="">@product.ProductName</a>
                </h3>
            </div>
        </div>
    }
</div>